<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- LocalDB - EF Core Conn String -->
		<add key="AppConnectionString" value="Server=(LocalDb)\MSSQLLocalDB;Database=EfCoreTestDb;Trusted_Connection=True;MultipleActiveResultSets=False;Connection Timeout=30;"/>

		<!-- Local Server - EF Core Conn String -->
		<!--<add key="AppConnectionString" value="Server=.;Database=EfCoreTestDb;Trusted_Connection=True;MultipleActiveResultSets=False;Connection Timeout=30;"/>-->

		<!-- Dim Weight Calculation Keys -->
		<add key="DimensionalWeightDivisor" value="139" />
	</appSettings>
</configuration>